{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ post.title }}
{% endblock title %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/post.css' %}">
  <link rel="stylesheet" href="{% static 'blog/posts.css' %}">
  <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock css_files %}

{% block content %}
  <section id="summary">
    <h2>{{ post.title }}</h2>
    <div>
      {% for tag in post_tags %}
        <span style="color: #add8e6">#{{ tag }}</span>
      {% endfor %}
    </div>
    <article>
      <img src="{{ post.image.url }}" alt="{{ post.title }}">
      <address>by <a style="color: #add8e6" href="mailto:{{ post.author.email_address }}">{{ post.author }}</a></address>
      <div>
        Last Updated on <time>{{ post.date|date:"d-M-Y" }}</time>
      </div>
    </article>
  </section>

  <main>
    <p>
      {{ post.content|linebreaks }}

    </p>
  </main>

  <div>
    <form id="comment-form" method="POST" action="{% url 'post-detail-page' post.slug %}">
      {% for field in form %}
      <div class="form-control">
        {% csrf_token %}
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
      </div>
      {% endfor %}
      <input type="submit" value="Comment"/>
    </form>
  </div>



{% endblock content %}